@import url('https://fonts.googleapis.com/css2?family=Barlow+&=Barlow:wght@300;400&family=Karla:wght@300;400&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}.nav-bar{
    display: flex;
   margin-top: 10px;
    justify-content: space-evenly;

}
.nav-1{
    display: flex;
    justify-content: space-around;
   
    width: 700px;
    list-style: none;
    margin-right: 30px;
    margin-top: 20px;
}
.nav-2{
    display: flex;
    justify-content: space-around;
   
    width: 200px;
    list-style: none;
    margin-left: 200px;
    margin-top: 20px;
}

.bord{
    color: black;
    background-color: black;
    height: 40px;
    width: 2.5px;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 10px;
}

.home{
    display: flex;
   
    background-color: rgba(211, 211, 211, 0.358);
    width: 1370px;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 40px;
}
.home-1{
    width: 400px;
    width: 350px;
    
    position: relative;
    left: 180px;
    top: 200px;
    
    
}
.img-1{
    position: relative;
    left: 240px;
}
.home-1 h1,p,button,a{
    margin-top: 10px;
    
}
.same{
    margin-top: 20px;
}

.home-1 h1{
    font-size: 30px;
    
}
.but-1{
    background-color: #0078ca;
    border: 1px solid #0078ca;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    color: white;
}
.link-1{
    
    color: #5ab9e8;
}
.home-1 a{
    text-decoration: none;
}
.info-1 a{
    text-decoration: none;
}
.h1-spec{
    font-size: 78px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg,#2259c3,#a738e8,#e629ef 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-h{
    text-align: center;
    margin-top: 50px;
}
.info-1{
    width: 300px;
    height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    
    
}
.info-1 p,a{
   
    margin-top: 45px;
    width: 250px;
    margin-left: 30px; 
}
.info-1 a{
   color: #5ab9e8;
}
.learn{
    margin-top: 45px;
}
.info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.img-2{
    border-top-right-radius: 20px;
    padding-right: 6px;
    position: relative;
    bottom: 3px;
    right:1px
}
.main-bot{
    display: flex;
    justify-content: space-between;
  
    height: 200px;
    margin-top: 150px;
}
.main-bot p{
    text-align: end;
    width: 900px;
    font-size: smaller;
}
.list a{
    color: black;
}
.bot-1 a{
    color: #5ab9e8;
    
}
.phone{
    position: relative;
    left: 705px;
    top: 30px;
}
.bot-1{
    margin-right: 70px;
}
.list{
    margin: 55px;
}
.foot-list{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
   
}
.foot-list ul li{
    list-style: none;
    padding: 10px;
    font-size:smaller;
}
footer{
   
    background-color: rgba(211, 211, 211, 0.358);
    height: 550px; 
}
.foot-list ul{
    list-style: none;
    padding: 30px;
}
.foot-bot{
    display: flex;
    justify-content: space-between;
   
    width: 1200px;
}
.bar{
    display: flex;
    justify-content: space-between;
   
    width: 250px;
    position: relative;
    left: 30px;
    bottom: 20px;
}
.foot-bot ul{
   
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    font-size: smaller;
    list-style: none;
    position: relative;
    left: 200px;
}
.eng button{
    padding: 10px;
    width: 220px;
    border-radius: 20px;
    border: 1px solid rgb(116, 115, 115);
    margin-left: 20px;
    position: relative;
    left: 5px;
    bottom:9px;
    text-align: start;
    background-color:white;
}
.globe{
    position: relative;
    left:15px;
    top:5px;
}
.down{
    position: relative;
    bottom: 34px;
    left: 210px;
}
.learn-2{
    position: relative;
    top:35px
}
.learn-3{
    position: relative;
    top: 73px;
}
.down-2{
    position: relative;
    top:8px;
    right: 7px;
}
.sign{
  left:1px
}
li::after{
content: '';
background-color: black;
height: 2px;
display: block;
margin: auto;
width: 0%;
transition: 0.5s;
}

li:hover::after{
    width:100% ;
    
}
.big{
    font-weight:bolder;
}
.eng button:hover{
    border: 2px solid black;
}
footer li::after{
    content: '';
    background-color: black;
    height: 0.5px;
    display: block;
    margin: auto;
    width: 0%;
    transition: 0.5s;
    }
    
    li:hover::after{
        width:100% ;
    }
